html,
body,
.row {
  height: 100%;
}

.row {
  display: flex;
}

.row > * {
  width: 50%;
}

.row .landing-image {
  object-fit: cover;
}

.form-container {
  display: flex;
  max-height: 100%;
  overflow-y: auto;
  padding: 30px 0;
}

.form-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  height: max-content;
}

.form-container .padding-section{
  height: 100%;
  cursor: progress;
  justify-content: space-between;
}

.form-container > div {
  margin: auto;
  text-align: center;
}

.form-container > div img {
  margin: 10px auto;
  width: 70%;
}

[type="file"] {
  margin: 0 !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.alert {
  background: #d5a106;
  color: black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .row .form-container {
    width: 75%;
  }
  .row .landing-image {
    width: 25%;
  }
}

@media (max-width: 600px) {
  .row .form-container {
    width: 100%;
  }
  .row .landing-image {
    display: none;
  }
}

.none {
  display: none;
}
